/* Umschließender Bereich */
.collapsible-section {
    max-width: 100%;
    margin: 20px auto;
}

/* Versteckter Inhalt mit sanftem Ausblenden */
.fade-out-text {
    position: relative;
    max-height: 300px; /* Anfangs sichtbarer Bereich */
    overflow: hidden;
    
    /* Sanftes Ausfaden über mehrere Zeilen */
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 1%, rgba(0, 0, 0, 0) 100%);
    
    transition: max-height 1.5s ease-in-out, mask-image 1.5s ease-in-out;
}

/* Vollständig ausgeklappter Zustand */
.fade-out-text.expanded {
    max-height: 10000px; /* Erlaubt den gesamten Text */
    -webkit-mask-image: none;
    mask-image: none;
}



.read-more-btn:hover {
    background-color: #0056b3;
}
